@import
url(https://fonts.googleapis.com/css?family=Arima+Madurai);

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Arima Madurai', serif, cursive;
}

a {
  color: #DB2464;
  text-decoration: none;
}

#wrap {
  min-width: 100%;
  position: absolute;
  padding-bottom: 100px;
}

#head {
  width: 100%;
  background-color: #CB2402;
  height: 48px;
  padding-bottom: 42px;
  position: absolute;
}

.titlist {
  color: #FFF;
  text-align: center;
  font-size: 58px;
}

#foot {
  width: 100%;
  position: absolute;
  padding-top: 12px;
  padding-bottom: 10px;
  bottom: 0;
  left: 0;
  background-color: #35235D;
  text-align: center;
  font-size: 20px;
  color: #B8DC3C;
}

/* Img Thumbnails */
#img-thumbnails {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 120px;
}

.image-box img {
  width: 45% !important;
  min-width: 30%;
  float: left;
  padding: 10px;
  margin: 6px;
  border: 3px solid #4C49A2;
}

.eachThumbnail {
  float: left;
  text-align: center;
  height: 250px;
  width: 250px;
  margin: 0.5em;
  padding: 0.5em; 
}

.eachThumbnail img:hover {
  transform: scale(1.15);
  box-shadow: 1px 2px 10px #4C49A2; 
}

div.title {
  background-color: #FFF;
  color: #A31A48;
  display: inline;
  margin: 5px;
  text-align: center;
  font-size: 32px;
}

/* Light Box */
#ltBoxWrap {
  position: fixed;
  background: #FFF;
  visibility: hidden; 
  width: 100%;
  height: 100%; 
  overflow: auto;
}

#lightbox {
  position:relative;
  left:45%;
  top:50%;
}

#lightbox .nav {
  width: 500px;
}

/* navigation */
#prev {
  float: left;
  margin-left: 0px;
}

#next {
  margin-left: 110px;
}

#close {
  float: right;
  margin-left: 50px;
}

.lightboximage{
    width: 500px;
  }

/* small screens */
@media only screen and (max-width : 720px) {

  .eachThumbnail {
    float: left;
    text-align: center;
    height: 250px;
    width: 250px;
    margin: 0.2em;
    padding: 0.2em; 
}
  
  #lightbox { 
    width:150px; 
    height:200px; 
    position:relative; 
    left:45%; top:50%; 
    margin:-250px 0 0 -190px; 
  }

  div.title {
    background-color: #FFF;
    color: #A31A48;
    display: inline;
    margin: 5px;
    text-align: center;
    font-size: 16px;
  }
  
}

/* large screens */
@media only screen and (min-width : 720px) {

  .eachThumbnail {
    float: left;
    text-align: center;
    height: 250px;
    width: 250px;
    margin: 0.6em;
    padding: 0.5em; 
  }

   #lightbox { 
    width:400px; 
    height:500px; 
    position:relative; 
    left:45%; top:50%; 
    margin:-250px 0 0 -200px; 
  }
}