

@font-face {
    src: url(../fonts/ArimaMadurai-Regular.ttf);
    font-family: 'Arima Madurai', serif, cursive;
}

body {
    background-color: #060C10;
    color: #FFF;
    font-family: 'Arima Madurai', serif, cursive;
    margin: 0;
    background-color: white;
}

html {
    font-family: 'Arima Madurai', serif, cursive;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

div {
    font-family: 'Arima Madurai', serif, cursive;
}

h1 {
   display: block;
   color: #AE8394;
}

a {
   color: #FFF;
}

.searchIT {
   display: block;
   max-width: 1024px;
   margin: 0 auto;
}

.img-search {
   margin: 0.4em 0;
   text-align: center;
}

.img-search #query {
   padding: 0.1em;
}

.img-search input {
   color: #000;
}

#ltBoxBgnd {
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    background-color: #000;
}

#ltBox {
    position: absolute;
    top: 25%;
    left: 35%;
    display: none;
}

